<nav class="navbar navbar-expand-sm navbar-dark px-0 py-0 text-light" id="navbar-head">
  <div class="container">
    <button type="button" id="sidebarCollapse" class="btn pl-1 btn-link text-light">
      <i class="fa fa-bars text-dark" style="font-size:25px"></i>
    </button>
    <img src="../../assets/img/favicon.png" class="d-inline-block mx-auto" alt="Logo" width="150px">
    <form>
      <button class="btn btn-dark btn-sm">
        <span class="fa fa-sign-out"></span> Sign Out
      </button>
    </form>
  </div>
</nav>
