<nav id="sidebar">
  <div class="sidebar-header">
    <h3> <span class="fa fa-bank"></span> Dashboard </h3>
  </div>

  <ul class="list-unstyled components">
    <p>
      <span class="d-inline-block mr-1 fa fa-user"></span>
      <span class="comic">Jhhames </span>

      <span class="badge badge-light">Bal: $50,0299 </span>
    </p>
    <hr class="separator">
    <li class="active">
      <a routerLink="/dashboard" aria-expanded="false"> <span class="fa fa-home"></span> Home</a>
    </li>
    <li>
      <a routerLink="/wallet"><span class="fa fa-briefcase"></span> Savings </a>
    </li>
    <li>
      <a routerLink="/expenses"><span class="fa fa-money"></span> Spendings and Expenses </a>
    </li>
    <li>
      <a routerLink="/add-billing"><span class="fa fa-credit-card"></span> Add billing method</a>
    </li>

    <li>
      <a routerLink="/transactions"><span class="fa fa-calendar"></span> Transaction History </a>
    </li>
    <li>
      <a href="#"><span class="fa fa-question-circle"></span> Help </a>
    </li>
  </ul>

</nav>
