<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="content">
    <app-navbar></app-navbar>
    <p>
      <span class="fa fa-frown-o ml-1"></span>
      <span class="fa fa-frown-o"></span> We're sorry! Due to some technical difficulties communicating with a third party service, we wont be able to start or deliver your schedules at the moment, You can keep adding Recipients, we'll contact
      you to start your schedules as soon as we're back online. <span class="fa fa-thumbs-up"></span>
    </p>
    <section class="p-4 ">
      <div class="container-fluid">
        <div class="row mb-4 justify-content-center">
          <div class="col-md-10 shadow p-0 shadow-lg">
            <div class="row">
              <div class="col-sm-6 bg-light pb-2">
                <p class="lead font-weight-bold">Hacktive Savings <img src="../../assets/img/wallet_1.png " class="img-fluid" width="20px" alt="expense"></p>
                <hr>
                <p>
                  <span class="fa fa-briefcase"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
                <p>
                  <span class="fa fa-briefcase"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
                <p>
                  <span class="fa fa-briefcase"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
              </div>
              <div class="col-sm-6 bg-white pb-2">
                <p class="lead font-weight-bold">Hacktive Spendings <img src="../../assets/img/money.png " class="img-fluid" width="20px" alt="expense"> </p>
                <hr>
                <p>
                  <span class="fa fa-money"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
                <p>
                  <span class="fa fa-money"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
                <p>
                  <span class="fa fa-money"> Samsung s5 </span>
                  <span class="badge badge-secondary float-right">$5000</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-3 bg-primary text-center mx-2 shadow shadow-lg">
                            <span class="font-weight-bold" style="font-size: 3.4em">
                                $50,000
                            </span>
            <p class="comic text-light">Current Balance </p>
          </div>
          <div class="col-md-3 mx-2 text-center bg-info shadow shadow-lg">
                            <span class="display-4 font-weight-bold">
                                $5,000
                            </span>
            <p class="comic text-light">Total Savings </p>
          </div>
          <div class="col-md-3 mx-2 text-center bg-danger shadow shadow-lg">
                            <span class="display-4 font-weight-bold">
                                $40,000
                            </span>
            <p class="comic text-light">Total Spendings </p>

          </div>
        </div>
      </div>
    </section>

  </div>
</div>
