<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="content">
    <app-navbar></app-navbar>
    <p>
      <span class="fa fa-frown-o ml-1"></span>
      <span class="fa fa-frown-o"></span> We're sorry! Due to some technical difficulties communicating with a third party service, we wont be able to start or deliver your schedules at the moment, You can keep adding Recipients, we'll contact
      you to start your schedules as soon as we're back online. <span class="fa fa-thumbs-up"></span>
    </p>
    <section class="p-4 ">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive shadow shadow-lg">
            <table class="table table-striped ">
              <thead class="black white-text">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date </th>
                <th scope="col"> Expense/Savings </th>
                <th scope="col"> Amount</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>02 : 07 : 2018</td>
                <td>Expense</td>
                <td>$2,000</td>
                <td> Successful </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>


  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel"><span class="fa fa-briefcase"></span> Savings Plan </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="benName" class="font-weight-bold">Savings Title</label>
              <input type="text" id="benName" name="name" class="form-control" placeholder="What are you saving for...">
            </div>

            <div class="form-group col-md-12">
              <label for="benAcc" class="font-weight-bold">Enter Target</label>
              <input type="number" id="benAcc" name="amount" class="form-control" placeholder="Enter Savings Goal">
            </div>
            <div class="form-group col-md-6">
              <label for="benName" class="font-weight-bold">Enter Deductions </label>
              <input type="number" id="benName" name="name" class="form-control" placeholder="Savings per Interval">
            </div>

            <div class="form-group col-md-6">
              <label class="font-weight-bold" id="benInterval">Select Interval</label>
              <select id="benInterval" name="interval" class="form-control">
                <option selected="" value="7">Weekly </option>
                <option value="14">2 Weeks </option>
                <option value="21">3 Weeks </option>
                <option value="30">Monthly </option>
                <option value="365">Yearly </option>
              </select>
            </div>


          </div>
          <button class="btn btn-success"> Add </button> </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
