<div class="wrapper">
<app-sidebar></app-sidebar>
<!-- Page Content -->
<div id="content">
  <app-navbar></app-navbar>
  <p>
    <span class="fa fa-frown-o ml-1"></span>
    <span class="fa fa-frown-o"></span> We're sorry! Due to some technical difficulties communicating with a third
    party service, we wont be able to start or deliver your schedules at the moment, You can keep adding Recipients,
    we'll contact
    you to start your schedules as soon as we're back online. <span class="fa fa-thumbs-up"></span>
  </p>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header ">
              <center>
                <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
              </center>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="card-number" class="font-weight-bold"> Card Number </label>
                  <input type="number" placeholder="4532 9837 0938 9382" class="form-control" name="card-number"
                         id="card-number">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="expi" class="font-weight-bold"> Expiry</label>
                      <input type="number" placeholder="00/00" name="expiry" id="expi" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cvv" class="font-weight-bold"> cvv</label>
                      <input type="number" placeholder="123" name="cvv" id="cvv" class="form-control">
                    </div>
                  </div>

                </div>

                <button class="btn btn-block btn btn-primary">
                  Save Card
                </button>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div></div>
